[submodule "plugged/ale"]
	path = plugged/ale
	url = https://github.com/dense-analysis/ale
[submodule "plugged/dracula"]
	path = plugged/dracula
	url = https://github.com/plugged/dracula
[submodule "plugged/nerdcommenter"]
	path = plugged/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "plugged/supertab"]
	path = plugged/supertab
	url = https://github.com/evandew/supertab
